/* Estilo Geral */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
    width:  100%;
}


/* Cabeçalho */
header {
    background: linear-gradient(to right, #4b4b4b, #2c2c2c);
    color: #fff;
    padding: 10px;  /* Menos padding */
    text-align: center;
    border-bottom: 4px solid #ffcc00;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

header h1 {
    font-size: 1.6rem;
    margin: 0;
    text-transform: uppercase;
}

/*
/* Conteúdo Principal */
main {
    max-width: 350px; /* Largura reduzida */
    margin: 20px auto;  /* Menos margem */
    padding: 10px;  /* Menos padding */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 0.95rem;
    display: block;
    text-align: left;  /* Alinhado à esquerda */
    margin-bottom: 3px;  /* Menos margem entre o label e os inputs */
}

select,
input[type="number"] {
    width: 100%;
    padding: 5px;  /* Menos padding */
    margin: 3px 0 10px;  /* Menos margem entre os campos */
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}


/* Botão */
button {
    background-color: #e47208;
    color: #333;
    padding: 6px;  /* Menos padding */
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    font-size: 0.9rem;
}

button:hover {
    background-color: #0c5b61;
}


/* Resultado */
h4#resultado {
    margin-top: 10px;  /* Menos margem superior */
    color: #2c2c2c;
    font-size: 1rem;
}


/* Rodapé */
footer {
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;
    padding: 10px;  /* Menos padding */
    border-top: 4px solid #12686e;
    font-size: 0.85rem;
}
